type knv_device, dev_type;
type nv_device, dev_type, mlstrustedobject;
type nvhost_device, dev_type;
type nvhost_writable_device, dev_type, mlstrustedobject;
type diag_device, dev_type;
type rfkill_device, dev_type, mlstrustedobject;
type sensors_block_device, dev_type;
allow gps_device sysfs:filesystem associate;
allow gps_device sysfs:file { rw_file_perms relabelto };
allow system_server gps_device:file { rw_file_perms };
allow kernel gps_device:file { rw_file_perms relabelto };
allow ueventd gps_device:file { rw_file_perms relabelto };
allow system_server nvhost_writable_device:chr_file { rw_file_perms };
allow system_server device:chr_file { rw_file_perms };
allow system_server knv_device:chr_file { rw_file_perms };
allow bluetooth sysfs:file { read write };
allow kernel video_device:file { rw_file_perms relabelto };
allow ueventd video_device:file { rw_file_perms relabelto };
allow video_device sysfs:filesystem associate;
allow debuggerd knv_device:chr_file rw_file_perms;
allow debuggerd device:chr_file rw_file_perms;
