#type sysfs_firmware_writable, fs_type, sysfs_type;
#type sysfs_devices_system_cpu, fs_type, sysfs_type;
attribute tcp_socket;
type sysfs_devices_tegradc, fs_type, sysfs_type, tcp_socket;
allow sysfs_devices_system_cpu sysfs:filesystem associate;
allow cache_file rootfs:filesystem associate;
allow gps_device sysfs:filesystem associate;
allow shell dalvikcache_data_file:file { create_file_perms };
allow system_server rootfs:dir create_dir_perms;
allow dhcp unlabeled:file r_file_perms;
allow dex2oat property_socket:sock_file { read write };
allow shell unlabeled:file { r_file_perms };
allow radio init_tmpfs:file rw_file_perms;
allow { debuggerd logd installd keystore } vfat:dir rw_dir_perms;
allow { debuggerd logd installd keystore } vfat:file rw_file_perms;
allow radio device:chr_file rw_file_perms;
allow logd system_file:file entrypoint;
allow logd system_data_file:dir create_dir_perms;
allow logd system_data_file:file create_file_perms;
allow installd system_file:dir { rw_dir_perms create_dir_perms };
allow installd system_file:file { rw_file_perms create_file_perms };
allow sysinit system_file:dir create_dir_perms;
allow sysinit system_file:file create_file_perms;
allow sysinit sysinit:process execmem;
allow sysinit block_device:dir rw_dir_perms;
allow sysinit labeledfs:filesystem remount;
allow sysinit kernel:dir rw_dir_perms;
allow sysinit system_data_file:dir rw_dir_perms;
allow sysinit system_data_file:file rw_file_perms;
allow sysinit apk_data_file:dir r_dir_perms;
allow sysinit apk_data_file:file r_file_perms;
allow debuggerd system_file:dir rw_dir_perms;
allow installd system_file:dir rw_dir_perms;
allow system_server rootfs:dir relabelfrom;
allow isolated_app init_tmpfs:file rw_file_perms;
