#type fsck;
#type mnt_media_rw_file;
#type storage_file;
#type bootchart_data_file;
#type gatekeeper_data_file
#type sysinit;
#type sysfs_firmware_writable, fs_type, sysfs_type;
#type sysfs_devices_system_cpu, fs_type, sysfs_type;
attribute tcp_socket;
type sysfs_devices_tegradc, fs_type, sysfs_type, tcp_socket;
allow sysfs_devices_system_cpu sysfs:filesystem associate;
allow cache_file rootfs:filesystem associate;
allow gps_device sysfs:filesystem associate;
allow shell dalvikcache_data_file:file { create_file_perms };
allow system_server rootfs:dir create_dir_perms;
allow dhcp unlabeled:file r_file_perms;
allow dex2oat property_socket:sock_file { read write };
allow shell unlabeled:file { r_file_perms };
allow radio init_tmpfs:file rw_file_perms;
allow { debuggerd logd installd keystore } vfat:dir rw_dir_perms;
allow { debuggerd logd installd keystore } vfat:file rw_file_perms;
allow radio device:chr_file rw_file_perms;
allow logd system_file:file entrypoint;
allow logd system_data_file:dir create_dir_perms;
allow logd system_data_file:file create_file_perms;
allow logd property_socket:sock_file { write read };
allow installd system_file:dir { rw_dir_perms create_dir_perms };
allow installd system_file:file { rw_file_perms create_file_perms };
allow sysinit system_file:dir create_dir_perms;
allow sysinit system_file:file create_file_perms;
allow sysinit sysinit:process execmem;
allow sysinit sysinit:capability sys_admin;
allow sysinit block_device:dir rw_dir_perms;
allow sysinit block_device:blk_file rw_file_perms;
allow sysinit labeledfs:filesystem remount;
allow sysinit kernel:dir rw_dir_perms;
allow sysinit system_data_file:dir rw_dir_perms;
allow sysinit system_data_file:file create_file_perms;
allow sysinit apk_data_file:dir r_dir_perms;
allow sysinit apk_data_file:file r_file_perms;
allow sysinit sysfs_lowmemorykiller:file rw_file_perms;
allow sysinit device:dir rw_dir_perms;
allow sysinit device:file rw_file_perms;
allow debuggerd system_file:dir rw_dir_perms;
allow installd system_file:dir rw_dir_perms;
allow system_server rootfs:dir relabelfrom;
allow isolated_app init_tmpfs:file rw_file_perms;
allow kernel proc:file { create_file_perms };
allow kernel tmpfs:dir { create_dir_perms relabelfrom };
allow kernel tmpfs:file { create_file_perms relabelfrom };
allow kernel sysfs:dir { relabelfrom mounton read };
allow kernel sysfs:file { relabelfrom read };
allow kernel kernel:process { setfscreate setexec };
allow kernel rootfs:dir { create_dir_perms mounton };
allow kernel sysfs:file { create_file_perms };
allow kernel kernel:capability { sys_time net_admin chown sys_admin dac_override sys_rawio dac_read_search fsetid fowner };
allow kernel proc_security:file { create_file_perms };
allow kernel proc_net:file { create_file_perms };
allow kernel device:dir { relabelto create_dir_perms mounton };
allow kernel socket_device:dir { relabelto create_dir_perms };
allow kernel properties_device:file { relabelto create_file_perms };
allow kernel sysfs_devices_system_cpu:dir { relabelto create_dir_perms };
allow kernel sysfs_devices_system_cpu:file { relabelto create_file_perms };
allow kernel sysfs_devices_tegradc:dir { relabelto create_dir_perms };
allow kernel sysfs_devices_tegradc:file { relabelto create_file_perms };
allow kernel usermodehelper:file { relabelto create_file_perms };
allow kernel sysfs_wake_lock:file { relabelto create_file_perms };
allow kernel sysfs_lowmemorykiller:file { relabelto create_file_perms };
allow kernel tmpfs:chr_file { create_file_perms };
allow kernel rootfs:file { execute create_file_perms };
allow kernel rootfs:lnk_file { create read write };
allow kernel system_file:dir { create_dir_perms };
allow kernel mnt_media_rw_file:dir { create_dir_perms };
allow kernel storage_file:dir { create_dir_perms };
allow kernel property_socket:sock_file { setattr getattr create write read open };
allow kernel cpuctl_device:dir { mounton create_dir_perms };
allow kernel qtaguid_proc:file { create_file_perms };
allow kernel fscklogs:dir { create_dir_perms };
allow kernel sysfs:lnk_file relabelfrom;
allow kernel ueventd:process transition;
allow kernel debugfs:filesystem { mount };
allow kernel cgroup:filesystem { mount };
allow kernel tmpfs:filesystem { mount };
allow kernel system_data_file:dir { relabelto create_dir_perms };
allow kernel cache_file:dir { create_dir_perms };
allow kernel asec_apk_file:dir { create_dir_perms };
allow kernel rootfs:filesystem remount;
allow kernel proc_sysrq:file { create_file_perms };
allow kernel selinuxfs:file { create_file_perms };
allow kernel proc_bluetooth_writable:file { create_file_perms };
allow kernel gps_device:file { create_file_perms };
allow kernel healthd:process transition;
allow kernel kernel:process setsockcreate;
allow kernel adbd_socket:sock_file { create write open read };
allow kernel adbd:process transition;
allow kernel sysfs_devices_tegradc:lnk_file relabelto;
allow ueventd rootfs:file entrypoint;
allow kernel cgroup:dir add_name;
allow kernel bootchart_data_file:dir create_dir_perms;
allow kernel adb_keys_file:dir create_dir_perms;
allow kernel bluetooth_data_file:dir create_dir_perms;
#allow kernel keystore_data_file:dir create_dir_perms;
allow kernel gatekeeper_data_file:dir create_dir_perms;
allow kernel net_data_file:dir create_dir_perms;
allow kernel domain:dir create_dir_perms;
allow kernel domain:file create_file_perms;
allow kernel adbd:process { siginh noatsecure };
allow kernel healthd:process { rlimitinh siginh noatsecure };
allow healthd kernel:process sigchld;
allow ueventd rootfs:file entrypoint;
allow init system_file:file create_file_perms;
allow { sysinit healthd lmkd shell logd debuggerd surfaceflinger drmserver servicemanager mediaserver keystore netd installd dex2oat zygote adbd vold sdcardd bootanim } rootfs:file rw_file_perms;
