type init_shell;
allow init_shell sysfs:file write;
allow init_shell init_shell:capability dac_override;
allow init_shell system_data_file:dir rw_dir_perms;
allow init_shell system_data_file:file { rw_file_perms unlink create };
#allow init_shell logcat_exec:file { r_file_perms execute_no_trans execute };
allow init_shell kernel:system { syslog_read syslog_mod };
allow init_shell logdr_socket:sock_file rw_file_perms;
allow init_shell logd:unix_stream_socket { connectto };
allow init_shell init_shell:capability2 syslog;
allow init_shell su_exec:file execute_no_trans;
allow init_shell unlabeled:file { rw_file_perms };
allow init_shell rootfs:file create_file_perms;
