# type sysinit;
# type userinit_exec;
# type proc_dirty_ratio;
#allow init self:binder set_context_mgr;
allow init wpa_socket:unix_dgram_socket { bind create };
#allow init sysfs:filesystem { associate };
allow init system_file:dir { rw_dir_perms create_dir_perms relabelfrom };
allow init system_file:lnk_file { create relabelfrom };
#allow init system_file:file execute_no_trans;
allow init app_data_file:dir { create_dir_perms };
allow init app_data_file:file { rw_file_perms };
allow init init:process { execmem setcurrent };
allow init su_exec:file { execute_no_trans };
allow init kernel:system { syslog_read module_request };
allow init fuse:dir { create_file_perms mounton };
allow init system_file:file { rw_file_perms };
allow init untrusted_app:process { signal dyntransition };
allow radio init:unix_dgram_socket write;
allow init system_server:process { dyntransition getpgid };
allow init platform_app:process dyntransition;
allow init shared_relro:process dyntransition;
allow shared_relro init:unix_dgram_socket write;
allow init radio:process dyntransition;
allow init system_app:process dyntransition;
allow init bluetooth:process dyntransition;
allow bluetooth init:unix_dgram_socket write;
allow bluetooth init_tmpfs:file rw_file_perms;
allow init kmem_device:chr_file rw_file_perms;
allow init init:tcp_socket { create setopt bind };
#allow init system_file:dir mounton;
allow init kernel:security read_policy;
allow init gps_device:file { rw_file_perms setattr};
allow init tmpfs:chr_file ioctl;
allow init block_device:blk_file { read write};
allow init devpts:chr_file ioctl;
allow init kernel:system module_request;
allow sysinit init:process dyntransition;
allow sysinit kernel:security read_policy;
allow sysinit sysinit:capability { dac_override dac_read_search };
allow sysinit surfaceflinger_exec:file r_file_perms;
allow sysinit unlabeled:file r_file_perms;
allow sysinit proc:file rw_file_perms;
allow sysinit proc_net:file rw_file_perms;
allow sysinit sysfs:file rw_file_perms;
allow sysinit userinit_exec:file rx_file_perms;
allow sysinit proc_dirty_ratio:file rw_file_perms;
allow init shell_exec:file execute_no_trans;
allow init sysinit_exec:file rw_file_perms;
allow init system_data_file:file { rw_file_perms };
allow init unlabeled:file rwx_file_perms;
allow init vold_exec:file execute_no_trans;
allow init surfaceflinger_exec:file execute_no_trans;
allow init init:capability audit_control;
allow init netd_exec:file execute_no_trans;
allow init installd_exec:file execute_no_trans;
allow init sdcardd_exec:file execute_no_trans;
allow init debuggerd_exec:file execute_no_trans;
allow init servicemanager_exec:file execute_no_trans;
allow init init:rawip_socket create;
allow init init:binder set_context_mgr;
#allow init init:process ptrace;
allow init untrusted_app:process setpgid;
allow init isolated_app:process dyntransition;
allow isolated_app init:unix_dgram_socket write;
#allow debuggerd init:process ptrace;
allow init unlabeled:file { execute execute_no_trans };
allow init init:capability2 mac_admin;
allow init kernel:security setenforce;
