#allow init self:binder set_context_mgr;
allow init wpa_socket:unix_dgram_socket { bind create };
#allow init sysfs:filesystem { associate };
#allow init system_file:file execute_no_trans;
allow init app_data_file:dir { create_dir_perms };
allow init init:process execmem;
allow init su_exec:file { execute_no_trans };
allow init kernel:system syslog_read;
allow init fuse:dir { create_file_perms mounton };
allow init system_file:file { rw_file_perms };
allow init untrusted_app:process { signal };
