
allow blkid_untrusted kernel:system module_request;
allow blkid_untrusted rootfs:file write;
allow blkid_untrusted system_file:file execute_no_trans;
allow bootanim mnt_user_file:dir search;
allow bootanim storage_file:dir search;
allow bootanim storage_file:lnk_file read;
allow bootanim system_file:file execmod;
allow fsck_untrusted kernel:system module_request;
allow fsck_untrusted rootfs:file write;
# allow fsck_untrusted system_file:file entrypoint;
allow init activity_service:service_manager find;
allow init debugfs:dir mounton;
# allow init gatekeeper_service:service_manager add;
allow init gps_device:file relabelto;
allow init logd:unix_stream_socket connectto;
allow init servicemanager:binder transfer;
allow init system_data_file:file rename;
allow init tmpfs:lnk_file create;
allow init video_device:file relabelto;
allow mediaserver system_file:file execmod;
allow platform_app battery_service:service_manager find;
allow platform_app device:chr_file write;
allow platform_app healthd_service:service_manager find;
allow platform_app system_file:file execmod;
allow sdcardd system_data_file:dir open;
allow sdcardd system_data_file:dir read;
allow sdcardd system_data_file:dir setattr;
allow servicemanager init:dir search;
allow servicemanager init:file open;
allow servicemanager init:file read;
allow servicemanager init:process getattr;
allow surfaceflinger mnt_user_file:dir search;
allow surfaceflinger storage_file:dir search;
allow surfaceflinger storage_file:lnk_file read;
allow system_app kernel:system module_request;
allow system_app system_file:file execmod;
allow system_server accessibility_service:service_manager add;
allow system_server account_service:service_manager add;
allow system_server activity_service:service_manager add;
allow system_server alarm_service:service_manager add;
allow system_server appwidget_service:service_manager add;
allow system_server assetatlas_service:service_manager add;
allow system_server audio_service:service_manager add;
allow system_server backup_service:service_manager add;
allow system_server battery_service:service_manager add;
allow system_server bluetooth_manager_service:service_manager add;
allow system_server cameraproxy_service:service_manager add;
allow system_server clipboard_service:service_manager add;
allow system_server cm_app_suggest_service:service_manager add;
allow system_server cm_hardware_service:service_manager add;
allow system_server cm_iconcache_service:service_manager add;
allow system_server cm_partner_interface:service_manager add;
allow system_server cm_performance_service:service_manager add;
allow system_server cm_profile_service:service_manager add;
allow system_server cm_status_bar_service:service_manager add;
allow system_server cm_telephony_service:service_manager add;
allow system_server cm_themes_service:service_manager add;
allow system_server commontime_management_service:service_manager add;
allow system_server connectivity_service:service_manager add;
allow system_server consumer_ir_service:service_manager add;
allow system_server content_service:service_manager add;
allow system_server country_detector_service:service_manager add;
allow system_server cpuinfo_service:service_manager add;
allow system_server dbinfo_service:service_manager add;
allow system_server device_policy_service:service_manager add;
allow system_server deviceidle_service:service_manager add;
allow system_server devicestoragemonitor_service:service_manager add;
allow system_server diskstats_service:service_manager add;
allow system_server DockObserver_service:service_manager add;
allow system_server dreams_service:service_manager add;
allow system_server dropbox_service:service_manager add;
allow system_server ethernet_service:service_manager add;
allow system_server fingerprint_service:service_manager add;
allow system_server gfxinfo_service:service_manager add;
allow system_server graphicsstats_service:service_manager add;
allow system_server imms_service:service_manager add;
allow system_server input_method_service:service_manager add;
allow system_server input_service:service_manager add;
allow system_server jobscheduler_service:service_manager add;
allow system_server launcherapps_service:service_manager add;
allow system_server location_service:service_manager add;
allow system_server lock_settings_service:service_manager add;
allow system_server media_projection_service:service_manager add;
allow system_server media_router_service:service_manager add;
allow system_server media_session_service:service_manager add;
allow system_server meminfo_service:service_manager add;
allow system_server mount_service:service_manager add;
allow system_server netpolicy_service:service_manager add;
allow system_server netstats_service:service_manager add;
allow system_server network_management_service:service_manager add;
allow system_server network_score_service:service_manager add;
allow system_server notification_service:service_manager add;
allow system_server package_service:service_manager add;
allow system_server permission_service:service_manager add;
allow system_server print_service:service_manager add;
allow system_server processinfo_service:service_manager add;
allow system_server procstats_service:service_manager add;
allow system_server registry_service:service_manager add;
allow system_server restrictions_service:service_manager add;
allow system_server rttmanager_service:service_manager add;
allow system_server samplingprofiler_service:service_manager add;
allow system_server scheduling_policy_service:service_manager add;
allow system_server search_service:service_manager add;
allow system_server serial_service:service_manager add;
allow system_server servicediscovery_service:service_manager add;
allow system_server statusbar_service:service_manager add;
allow system_server system_file:file execmod;
allow system_server telecom_service:service_manager add;
allow system_server textservices_service:service_manager add;
allow system_server trust_service:service_manager add;
allow system_server uimode_service:service_manager add;
allow system_server updatelock_service:service_manager add;
allow system_server usagestats_service:service_manager add;
allow system_server usb_service:service_manager add;
allow system_server user_service:service_manager add;
allow system_server vibrator_service:service_manager add;
allow system_server voiceinteraction_service:service_manager add;
allow system_server wallpaper_service:service_manager add;
allow system_server webviewupdate_service:service_manager add;
allow system_server wifi_service:service_manager add;
allow system_server wifip2p_service:service_manager add;
allow system_server wifiscanner_service:service_manager add;
allow system_server window_service:service_manager add;
allow ueventd kernel:system module_request;
allow ueventd rootfs:file write;
allow untrusted_app battery_service:service_manager find;
allow untrusted_app device:chr_file write;
allow untrusted_app storage_stub_file:dir getattr;
allow untrusted_app system_file:file execmod;
allow wpa rootfs:file write;