allow servicemanager init:dir search;
allow servicemanager init:file open;
allow servicemanager init:file read;
allow servicemanager init:process getattr;
allow servicemanager zygote:dir search;
allow servicemanager zygote:file open;
allow servicemanager zygote:file read;
allow servicemanager zygote:process getattr;
allow system_server package_service:service_manager add;
