type system;
allow system adbd_socket:sock_file write;
allow system init:binder { transfer call };
allow system init:unix_stream_socket { read write setopt };
allow system init_tmpfs:file read;
allow system self:capability sys_module;
allow system unlabeled:file { read getattr unlink open };
allow system wpa_socket:unix_dgram_socket sendto;
allow system device:chr_file { read write ioctl open };
allow system knv_device:chr_file { read write ioctl open };
allow system nvhost_writable_device:chr_file { read write ioctl open };
allow system_app knv_device:chr_file { read write ioctl open };
allow system anr_data_file:dir relabelto;
allow system_server default_android_service:service_manager add;
allow system_server init:unix_dgram_socket write;
allow system_server init_tmpfs:file rw_file_perms;
allow system_server init:unix_stream_socket getopt;
allow lmkd kernel:system module_request;
allow logd kernel:system module_request;
allow servicemanager kernel:system module_request;
allow surfaceflinger kernel:system module_request;
allow vold kernel:system module_request;
allow debuggerd kernel:system module_request;
allow shell kernel:system module_request;
allow sdcardd kernel:system module_request;
allow bootanim kernel:system module_request;
allow zygote kernel:system module_request;
allow dex2oat kernel:system module_request;
