#type system;
#type sensorservice_service;
#type batterystats_service;
#type appops_service;
#type power_service;
#type display_service;
#type gatekeeper_service;
allow system adbd_socket:sock_file write;
allow system init:binder { transfer call };
allow system init:unix_stream_socket { read write setopt };
allow system init_tmpfs:file read;
allow system self:capability sys_module;
allow system unlabeled:file { read getattr unlink open };
allow system wpa_socket:unix_dgram_socket sendto;
allow system device:chr_file { read write ioctl open };
allow system knv_device:chr_file { read write ioctl open };
allow system nvhost_writable_device:chr_file { read write ioctl open };
allow system_app knv_device:chr_file { read write ioctl open };
allow system anr_data_file:dir relabelto;
allow system_server default_android_service:service_manager add;
allow system_server init:unix_dgram_socket write;
allow system_server init_tmpfs:file rw_file_perms;
allow system_server init:unix_stream_socket getopt;
allow lmkd kernel:system module_request;
allow logd kernel:system module_request;
allow servicemanager kernel:system module_request;
allow surfaceflinger kernel:system module_request;
allow vold kernel:system module_request;
allow debuggerd kernel:system module_request;
allow shell kernel:system module_request;
allow sdcardd kernel:system module_request;
allow bootanim kernel:system module_request;
allow zygote kernel:system module_request;
allow dex2oat kernel:system module_request;
allow installd kernel:system module_request;
allow drmserver kernel:system module_request;
allow keystore kernel:system module_request;
allow system_server sensorservice_service:service_manager { add find };
allow system_server batterystats_service:service_manager { add find };
allow system_server appops_service:service_manager { add find };
allow system_server power_service:service_manager { add find };
allow system_server display_service:service_manager { add find };
allow system_server drmserver_service:service_manager find;
allow system_server healthd_service:service_manager find;
allow system_server keystore_service:service_manager find;
allow system_server gatekeeper_service:service_manager find;
allow system_server mediaserver_service:service_manager find;
allow system_server nfc_service:service_manager find;
allow system_server radio_service:service_manager find;
allow system_server system_server_service:service_manager find;
allow system_server surfaceflinger_service:service_manager find;
allow surfaceflinger power_service:service_manager find;
allow mediaserver batterystats_service:service_manager find;
