#type appops_service;
#type batterystats_service;
#type display_service;
#type gatekeeper_service;
#type power_service;
#type sensorservice_service;
#type system;
allow adbd kernel:system module_request;
allow adbd kernel:system module_request;
allow blkid_untrusted kernel:system module_request;
allow blkid_untrusted kernel:system module_request;
allow bootanim kernel:system module_request;
allow debuggerd kernel:system module_request;
allow dex2oat kernel:system module_request;
allow drmserver kernel:system module_request;
allow fsck_untrusted kernel:system module_request;
allow fsck_untrusted kernel:system module_request;
allow fsck_untrusted system_file:file entrypoint;
allow installd kernel:system module_request;
allow keystore kernel:system module_request;
allow lmkd kernel:system module_request;
allow logd kernel:system module_request;
allow mediaserver batterystats_service:service_manager find;
allow sdcardd kernel:system module_request;
allow servicemanager kernel:system module_request;
allow shell kernel:system module_request;
allow surfaceflinger kernel:system module_request;
allow surfaceflinger power_service:service_manager find;
allow system adbd_socket:sock_file write;
allow system anr_data_file:dir relabelto;
allow system device:chr_file { read write ioctl open };
allow system init:binder { transfer call };
allow system init:unix_stream_socket { read write setopt };
allow system init_tmpfs:file read;
allow system knv_device:chr_file { read write ioctl open };
allow system nvhost_writable_device:chr_file { read write ioctl open };
allow system self:capability sys_module;
allow system unlabeled:file { read getattr unlink open };
allow system wpa_socket:unix_dgram_socket sendto;
allow system_app knv_device:chr_file { read write ioctl open };
allow vold kernel:system module_request;
allow zygote kernel:system module_request;
