allow ueventd sysfs_devices_tegradc:dir { read open search write };
allow ueventd sysfs_devices_tegradc:file { read open write };
allow ueventd ueventd:capability2 mac_admin;
allow ueventd unlabeled:chr_file create_file_perms;
allow logd kernel:system syslog_mod;
