#allow untrusted_app system_data_file:file setattr;
allow untrusted_app apk_data_file:dir getattr;
allow untrusted_app selinuxfs:dir { read search };
allow untrusted_app selinuxfs:file { read open getattr };
allow untrusted_app app_data_file:file { execute execute_no_trans };
auditallow untrusted_app app_data_file:file { execute execute_no_trans };
allow untrusted_app sysfs_devices_system_cpu:file { read open };
auditallow untrusted_app sysfs_devices_system_cpu:file { read open };
allow untrusted_app su_exec:file { read open getattr execute execute_no_trans };
auditallow untrusted_app su_exec:file { read open execute execute_no_trans };
allow untrusted_app platform_app_data_file:dir { open read write remove_name };
#auditallow untrusted_app platform_app_data_file:dir { read write remove_name };
allow untrusted_app platform_app_data_file:file { setattr rename lock open create write read };
#auditallow untrusted_app platform_app_data_file:file { rename create write read };
allow untrusted_app device:sock_file { write };
allow untrusted_app init_shell:unix_stream_socket { connectto };
allow untrusted_app untrusted_app:netlink_route_socket { write };
#allow untrusted_app zygote_exec:file { read write open getattr };
allow untrusted_app init:dir { read };
allow untrusted_app init:file { open read getattr};
allow untrusted_app kernel:dir { read search };
allow untrusted_app healthd:dir { read };
allow untrusted_app servicemanager:dir { read };
allow untrusted_app vold:dir { read search };
allow untrusted_app netd:dir { read };
allow untrusted_app debuggerd:dir { read };
allow untrusted_app rild:dir { read };
allow untrusted_app surfaceflinger:dir { read };
allow untrusted_app zygote:unix_stream_socket { getopt getattr };
allow untrusted_app zygote:dir { read };
allow untrusted_app drmserver:dir { read };
allow untrusted_app mediaserver:dir { read };
allow untrusted_app sdcardd:dir { read };
allow untrusted_app sdcardd:file { open read getattr };
allow untrusted_app ueventd:dir { read };
allow untrusted_app ueventd:file { open read getattr };
allow untrusted_app shell:dir { read };
allow untrusted_app platform_app:dir { read };
allow untrusted_app radio:dir { read };
allow untrusted_app vold:file { open read getattr };
allow untrusted_app netd:file { open read getattr };
allow untrusted_app init_shell:dir { search };
allow untrusted_app init_shell:file { open read getattr };
allow untrusted_app system_data_file:file { execmod };
#allow untrusted_app release_app:fifo_file { getattr read };
allow untrusted_app device:chr_file { rw_file_perms };
allow untrusted_app apk_private_data_file:dir { r_dir_perms };
allow untrusted_app apk_private_data_file:file { r_file_perms };
allow untrusted_app asec_image_file:dir { r_dir_perms };
allow untrusted_app asec_image_file:file { r_file_perms };
allow untrusted_app property_data_file:dir { r_dir_perms };
allow untrusted_app property_data_file:file { r_file_perms };
allow untrusted_app drm_data_file:dir { r_dir_perms };
allow untrusted_app drm_data_file:file { r_file_perms };
allow untrusted_app media_data_file:dir { r_dir_perms };
allow untrusted_app media_data_file:file { r_file_perms };
allow untrusted_app gps_data_file:dir { r_dir_perms };
allow untrusted_app gps_data_file:file { r_file_perms };
allow untrusted_app install_data_file:dir { r_dir_perms };
allow untrusted_app install_data_file:file { r_file_perms };
allow untrusted_app backup_data_file:dir { r_dir_perms };
allow untrusted_app backup_data_file:file { r_file_perms };
allow untrusted_app tombstone_data_file:dir { r_dir_perms };
allow untrusted_app tombstone_data_file:file { r_file_perms };
allow untrusted_app unlabeled:dir { r_dir_perms };
allow untrusted_app unlabeled:file { r_file_perms };
allow untrusted_app anr_data_file:dir { r_dir_perms };
allow untrusted_app device:dir { r_dir_perms };
allow untrusted_app init_tmpfs:file rw_file_perms;
allow untrusted_app init:unix_dgram_socket write;
allow untrusted_app graphics_device:dir rw_dir_perms;
allow untrusted_app graphics_device:dir rw_file_perms;
allow untrusted_app sysfs_devices_tegradc:dir { search rw_dir_perms };
allow untrusted_app sysfs_devices_tegradc:file { rw_file_perms };
allow untrusted_app kernel:system module_request;
allow untrusted_app app_data_file:file rwx_file_perms;
allow untrusted_app adb_data_file:dir r_file_perms;
