on init
    export EXTERNAL_STORAGE /external_sd

    write /sys/devices/platform/pwm-backlight/PQiModeOn 1

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /internal_sd
    mkdir /external_sd


    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0955
    write /sys/class/android_usb/android0/idProduct 70a9
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serial}
    write /sys/class/android_usb/android0/f_rndis/manufacturer Nvidia
    write /sys/class/android_usb/android0/f_rndis/vendorID 0955
    write /sys/class/android_usb/android0/f_rndis/wceis 1

on post-fs-data
    # ** RC: usb devices resume not reset after sleep, also do not self suspend. write early **
    write /sys/bus/usb/devices/usb1/power/control on  

on boot
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serial}
    write /sys/class/android_usb/android0/f_rndis/manufacturer Nvidia
    write /sys/class/android_usb/android0/f_rndis/vendorID 0955
    write /sys/class/android_usb/android0/f_rndis/wceis 1
    
# Enable USB auto suspend for MBM devices
    write /sys/bus/usb/devices/2-1/power/autosuspend 3
    write /sys/bus/usb/devices/2-1/power/control auto
    write /sys/bus/usb/devices/2-1/power/wakeup enabled

    # "control" auto-suspend                                  # RC addition: ver23
    chmod 0660 /sys/bus/usb/devices/usb1/power/control
    chown system system /sys/bus/usb/devices/usb1/power/control

    # RC: forces usb devices to resume not reset after sleep, and to not self suspend.
    write /sys/bus/usb/devices/usb1/power/control on
    write /sys/class/android_usb/android0/f_rndis/power/control on

    setprop service.adb.root 1


on property:sys.storage.ums_enabled=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct 70b5
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/enable 1

on property:sys.storage.ums_enabled=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/idProduct 70a9
    write /sys/class/android_usb/android0/enable ${service.adb.root}
